.quizResultsBackground {
	padding: 24px;
	width: 600px;
	height: 500px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -275px;
	margin-left: -300px;
	background: rgba(28, 33, 53, 0.5);
	border-radius: 10px;
	/*shadow horiz vert blur spread color*/
	-moz-box-shadow:    0px 0px 15px 0px #1c2135;
  	-webkit-box-shadow: 0px 0px 15px 0px #1c2135;
  	box-shadow:         0px 0px 15px 0px #1c2135;
	display: none;
}

.quizResultsBackground h1 {
	font-size: 32px;
	font-weight: 600;
	color: white;
	text-align: center;
	margin-top: -20px;
}

.fa-ul {
	text-align: center;
	margin-top: -10px;
	margin-bottom: 30px;
}

.fa-ul>li {
	width: 19px;
	display: inline-block;
}

.fa-ul .fa-star-o, .fa-ul .fa-star {
	color: #faffba;
	margin: 0;
	padding: 0; 
}

.accordionArticle{
	background: rgba(38, 54, 87, 0.5);
	border-radius: 5px;
	min-height: 30px;
	max-height: 150px;
	margin-bottom: 5px;
	display: block;	
	cursor: pointer;
}

.accordionArticle:hover {
	background: rgba(38, 54, 87, 0.65);	
}

.accordionHeaderInactive, .accordionHeaderActive {
	color: white;
	height: 30px;
}

.accordionHeaderInactive .fa-star, .accordionHeaderActive .fa-star{
	color: #faffba;
	margin: 8px 10px 0px 10px;
}

.accordionHeaderInactive .fa-thumbs-down, .accordionHeaderActive .fa-thumbs-down {
	color: #0df9ff;
	margin: 8px 10px 0px 10px;
}

.accordionAnswer  {
	display: none;
	font-size: 16px;
	color: white;
	line-height: 18px;
	height: 120px;
	padding: 5px 20px 5px 35px;
}

.accordionAnswer em {
	color: white;
	display: block;
}

.againButton {
	height: 55px;
	width: 55px;
	background-color: #faffba;
	top: 5px;
	border-radius: 50%;
	position: absolute;
	cursor: pointer;
}

.againButton:hover {
	background-color: #f7ff8c;
}

.againButton p {
	padding-top: 17px;
	text-align: center;
}

.sourceCredit {
	font-size: 12px;
	color: #1c2135;
	margin-bottom: -25px;
	margin-left: 73px;
	position: absolute;
	bottom: 0;
}

.sourceCredit a:link {
	text-decoration: none;
	color:#1c2135
}

.sourceCredit a:visited {
	text-decoration: none;
	color:#1c2135
}

.sourceCredit a:hover {
	text-decoration: none;
	color:#1c2135
	cursor:pointer;

}

.sourceCredit a:active {
	text-decoration: none;
	color:#1c2135 
}



